{% extends "base.html" %}

{% block navbar %}
    <nav class="navbar navbar-expand-md navbar-light" style="background-color: rgb(253, 234, 211)">
        <div class="container-fluid">
          <a class="navbar-brand" href="{% url 'home' %}">ZeBooks</a>
            <button class="btn btn-logout ms-auto">Logout</button>
        </div>
      </nav>
{% endblock navbar %}

{% block content %}

    {% if form.errors %}
        <p class="text-white text-center display-6">Your username and password didn't match. </p>
        <p class="text-white text-center display-6"> Please try again.</p>
           
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="text-white text-center display-6">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
        <p class="text-white text-center display-6">Please login to see this page.</p>
        {% endif %}
    {% endif %}
    
    <div class="container d-flex flex-column justify-content-center mx-auto w-50 align-items-center rounded-2" style="height: 40vh; background: rgb(197, 158, 111)">
         <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="mytable">
            <tr>
                <td class="text-white">{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td class="text-white">{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-login w-100" type="submit">Login</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
   
  
{% endblock content %}