{% extends "base.html" %}

{% block content %}

    {% if form.errors %}
        <p class="text-white text-center display-6">Your username and password didn't match. </p>
        <p class="text-white text-center display-6"> Please try again.</p>
           
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="text-white text-center display-6">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
        <p class="text-white text-center display-6">Please login to see this page.</p>
        {% endif %}
    {% endif %}
    
    <div class="container d-flex flex-column justify-content-center mx-auto w-75 align-items-center" style="height: 50vh">
         <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table>
            <tr>
                <td class="text-white">{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td class="text-white">{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <button class="btn px-3" type="submit">Login</button>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
   
  
{% endblock content %}