{% extends "base.html" %}

{% block content %}

    <h2 class="display-2 text-white text-center">Login Page</h2>

    {% if form.errors %}
        <p class="text-white text-center display-6">Your username and password didn't match. </p>
        <p class="text-white text-center display-6"> Please try again.</p>
           
    {% endif %}

    {% if next %}
        {% if user.is_authenticated %}
            <p class="text-white text-center display-6">Your account doesn't have access to this page. To proceed, please login with an account that has access.</p>
        {% else %}
        <p class="text-white text-center display-6">Please login to see this page.</p>
        {% endif %}
    {% endif %}
    
    <div class="container d-flex flex-column justify-content-center align-content-center mx-auto mt-5 align-items-center  login-div py-4">
         <form method="POST" action="{% url 'login' %}">
        {% csrf_token %}
        <table class="mt-3">
            <tr>
                <td class="text-white fw-bold">{{ form.username.label_tag }}</td>
                <td>{{ form.username }}</td>
            </tr>
            <tr>
                <td class="text-white fw-bold">{{ form.password.label_tag }}</td>
                <td>{{ form.password }}</td>
            </tr>
        </table>

        <div class="d-flex justify-content-end mt-2">
            <button class="btn btn-login w-100" type="submit">Login</button>
        </div>
        <input type="hidden" name="next" value="{{ next }}">
    </form>

    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
    </div>
   
  
{% endblock content %}