body {
  background-color: bisque;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url("../assets/library.jpg");
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0px;
  background-color: brown;
  color: white;
  letter-spacing: 5px;
  font-family: "Century gothic";
}

.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  justify-items: center;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: rotate(-1deg);
  box-shadow: rgba(0, 0, 0, 0.8) 8px 8px 10px, inset rgba(0, 0, 0, 0.2) 0px -15px 20px;
  cursor: pointer;
}

.img-div > img {
  width: 100%;
}

.text-div > p {
  font-size: 1.2em;
}

.btn {
  position: relative;
  z-index: 1;
  overflow: hidden;
  background-color: brown;
  border-color: brown;
  color: white;
}

.btn::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: -35%;
  height: 100%;
  width: 0;
  transform: skew(-30deg);
  transition-duration: 0.5s;
  transform-origin: top left;
}

.btn:hover:before {
  background-color: rgb(243, 63, 63);
  border-color: rgb(243, 63, 63);
  width: 160%;
  height: 110%;
  outline: none;
}

.btn:hover {
  color: white;
  border-color: rgb(243, 63, 63);
  outline: none;
}

.detail-text-div {
  background-color: white;
  color: brown;
  display: grid;
  gap: 0;
  grid-template-columns: 1fr;
  border-radius: 10px;
}

.display-6 {
  font-size: 1.5em;
  font-weight: 500;
}

/* .read-more-btn {
} */
