body {
  background-color: bisque;
}

h1 {
  text-align: center;
  font-size: 3rem;
  margin: 20px 0px;
}

.container {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fill, minmax(18rem, 1fr));
  justify-items: center;
}

.card {
  transition: all 0.3s ease;
}

.card:hover {
  transform: rotate(-3deg);
  box-shadow: rgba(0, 0, 0, 0.8) 0px 5px 15px, inset rgba(0, 0, 0, 0.15) 0px -10px 20px;
  cursor: pointer;
}

.img-div > img {
  width: 100%;
}

.text-div > p {
  font-size: 1.2em;
}

.btn-primary {
  background-color: brown;
  border-color: brown;
}

.btn-primary:hover {
  background-color: rgb(226, 58, 58);
  border-color: rgb(226, 58, 58);
}
