{% extends 'base.html' %} 

{% block page-title %}
  <title>ZeBook - detail</title>
{% endblock page-title%}

{% block content %}
  <h2 class="text-light text-center display-5">{{ book.title }}</h2>
  <div class="d-flex justify-content-center my-5">
    <img src="{{ book.thumbnailUrl}}" width="300" alt="" />
  </div>

  <div class="container my-5 detail-text-div">
    <h6 class="display-6 mb-0">About:</h6>
    {% if book.shortDescription is None %}
      <p class="fst-italic px-4">This book is about something too interesting to write a short description about.</p>
    {% else %}
      <p class="fst-italic px-4 text-center">{{ book.shortDescription }}</p>
    {% endif %}

    <h6 class="display-6 mb-0">Author{{authors|pluralize}}:</h6>
    <p class="fst-bold px-4 mb-1">
      {% for author  in authors  %}
        {{ author }},
      {% endfor %}
    </p>

    <h6 class="display-6 mb-0">Pages:</h6>
    <p class="fst-bold px-4">Total of {{ book.pageCount }} pages</p>

    <h6 class="display-6 mb-0">Description:</h6>
    <p class="fst-italic px-4 text-center">
      {{ book.longDescription|safe|truncatewords:"200"}}
    </p>
    
    <!-- TODO: Add Read more button here -->
    {% comment %}
     <button class="btn mb-3 read-more-btn" onclick="readMore()" id="read-more">Read more...</button>
    {% endcomment %}
    <!--  TODO END -->
  </div>

  <form
    class="container form-floating my-5 d-flex flex-column justify-content-center"
    method="POST"
    action="{% url 'review' book.id%}">

    {% csrf_token %}
    <textarea class="form-control" placeholder="Leave a review here" name="review" style="height: 6.25rem"></textarea>
    <label class="ms-1">Write your review here</label>
    <div class="d-flex justify-content-end">
      <button class="btn w-25" type="submit">Submit</button>
    </div>
  </form>

  {% for review in reviews %}
  {% if review.body|length > 1 %}
  <div class=" bg-white rounded-2 d-block px-2 mx-5 review-div" style="width: fit-content; max-width: 40vw; line-height: 1.2rem;">
      <p class="py-2" style="color: brown;">{{ review.body|capfirst }}</p>
    </div>
  {% endif %}
    {% endfor %}

{% endblock content %}

<!-- SCRIPTS -->
<!-- END SCRIPTS -->
